.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--color-brand);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  &--arrow-left {
    background-image: url('./images/arrow-left-circle.png');
  }

  &--arrow-right {
    background-image: url('./images/arrow-right-circle.png');
  }
}