.slider {
  /* background: #FFE4E1; */
  height: 400px;
  position: relative;
  border-radius: 8px;
  margin: 20px;
}

.slide {
  display: flex;
  transition: opacity ease-in-out;
  width: 100%;
  height: 100%;
}

.left {
  flex: 1;
  padding: 0 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.right {
  width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  opacity: 0.6;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}

.arrowLeft {
  left: 24px;
  top: calc(50% - 20px);
  transform: rotate(180deg);
}

.arrowRight {
  right: 24px;
  top: calc(50% - 20px);
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.text {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}


@media (max-width: 992px) {
  .slide {
    flex-direction: column;
  }
  
  .left {
    padding: 0 100px;
  }
  
  .right {
    display: none;
  }
}

@media (max-width: 576px) {
  
  .left {
    padding: 0 20px;
  }
  
}