  .container {
    max-width: 1140px;
    margin-bottom: 40px;
  }

  .articleList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  @media(max-width: 768px) {
    .articleList {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      row-gap: 16px;
    }
  }

  @media(max-width: 400px) {
    .articleList {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }