.navbar {
  margin: 0 auto;
  border-bottom: 1px solid var(--color-bg);
  border-top: 1px solid var(--color-bg);
  margin-bottom: 60px;
  min-height: 81px;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.navbarMenu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  flex: 1 1 auto;
}

.navbarMenuItem {
  cursor: pointer;
  width: max-content;
  height: 45px;
}

.navbarMenuLink:hover {
  background-color: var(--color-brand);
}

.navbarMenuLink {
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-bg);
  font-size: 20px;
  text-decoration: none;
  color: var(--color-black);
  transition: all 0.4s ease;
}

.active {
  background-color: var(--color-brand);
}

@media (max-width: 1024px) {
  .navbarMenu {
    justify-content: center;
  }
}