.footerContainer {
  margin-top: 40px;
  padding: 24px 0px;
  background-color: var(--color-bg);
  bottom: 0;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerBox {
  display: flex;
  align-items: center;
}
.footerTitle{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-grey);
}
.footerText {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-grey);
}
.footerLogo{
  height: 40px;
  margin-right: 24px;
}